body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-size: cover;
    background-color: white;
    color: #171414;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow: auto;
    padding: 20px 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 180px;
    max-width: 180px;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: #282828;
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.5);
    flex-shrink: 0;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.movie-number {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #000;
    color: #ff7eb9;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
}

.movie-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #181818;
    margin-right: 10px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 182, 193, 0.7);
}

.card:hover img {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: #ff7eb9;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff7eb9;
    color: #fff;
    border-radius: 5px;
}

body {
    padding-top: 70px;
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.popup img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.popup .close-btn:hover {
    color: #ff7eb9;
}

.popup-info {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .popup-info {
    display: block;
    opacity: 1;
    bottom: 10px;
}

.movie-description {
    font-size: 12px;
    color: #ddd;
    margin-top: 5px;
    line-height: 1.4;
}

.movie-genre,
.movie-duration,
.movie-release {
    font-size: 12px;
    margin-top: 5px;
}

.nav-container {
    position: absolute;
    right: 10px;
    top: 90%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.nav-button {
    background-color: #ed8cb8;
    color: #fff;
    border: 1px solid #ff4d89;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #ff4d89;
    color: #fff;
}

.nav-button::after {
    content: '';
    display: inline-block;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
}

.nav-button.prev::after {
    transform: rotate(135deg);
}

.nav-button.next::after {
    transform: rotate(-45deg);
}

.login-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    width: 350px;
    border-radius: 16px;
    z-index: 1000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: slideDown 0.6s ease-out;
}

.login-popup h2 {
    margin-top: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-popup input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid rgba(14, 14, 14, 0.2);
    border-radius: 10px;
    background: rgba(18, 17, 17, 0.1);
    color: #fff;
    transition: box-shadow 0.3s, transform 0.2s;
}

.login-popup input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
    transform: translateY(-2px);
    outline: none;
}

.login-popup button {
    width: 100%;
    padding: 12px;
    background-color: #1b3339;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.2s;
}

.login-popup button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transform: translateY(-2px);
}

.login-popup input::placeholder {
    color: rgb(18, 17, 17);
    opacity: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 500;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.signup-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    width: 350px;
    border-radius: 16px;
    z-index: 1000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: slideDown 0.6s ease-out;
}

.signup-popup h2 {
    margin-top: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-popup input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid rgba(14, 14, 14, 0.2);
    border-radius: 10px;
    background: rgba(18, 17, 17, 0.1);
    color: #fff;
    transition: box-shadow 0.3s, transform 0.2s;
}

.signup-popup input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
    transform: translateY(-2px);
    outline: none;
}

.signup-popup button {
    width: 100%;
    padding: 12px;
    background-color: #1b3339;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.2s;
}

.signup-popup button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    transform: translateY(-2px);
}

.signup-popup input::placeholder {
    color: rgb(18, 17, 17);
    opacity: 1;
}

.signup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 500;
}

.signup-overlay:target {
    display: block;
}

.signup-popup:target {
    display: block;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #aaa;
}

.close:hover {
    color: #000;
    cursor: pointer;
}

.signup-link {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
}

.signup-link:hover {
    color: #0056b3; 
    text-decoration:none; 
}

.login-link {
    color: #007bff; 
    text-decoration: none; 
    font-weight: bold; 
}

.login-link:hover {
    color: #0056b3; 
    text-decoration: none; 
}

.movie-scroll {
    position: relative;
    padding: 20px 0;
}

.scroll-container {
    display: flex;
    overflow-x: scroll; 
    scroll-behavior: smooth;
    width: 100%;
    scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar {
    display: none; 
}

.scroll-container ul {
    display: flex; 
    padding: 0;
    margin: 0;
    list-style: none; 
}

.scroll-container li {
    min-width: 200px; 
    margin-right: 10px; 
}

.scroll-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.scroll-buttons button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.scroll-buttons button:hover {
    background-color: rgba(255, 255, 255, 1);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.logo img{
    height: 35px;
}

nav .menu{
    display: flex;
}

nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585858;
    letter-spacing: 1px;
}

.search{
    width:250px;
    height: 40px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
