body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-size: cover;
    background-color: white;
    color: #171414;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}