body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-size: cover;
    background-color: white;
    color: #171414;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    gap: 20px;
    overflow: auto;
    padding: 20px 0;
    overflow-x: auto;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
